<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Second apis</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="pages/books/view/" class="nav-link">Books</a>
      </li>
      <li class="nav-item">
        <a routerLink="pages/authors/view/" class="nav-link">Authors</a>
      </li>
      <li class="nav-item">
        <a routerLink="pages/publishers/view/" class="nav-link">Publishers</a>
      </li>
      
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>